body{
    background-color: #242424;
}

/*Navigation bar styles*/
.navbar{
    background-color: #192021;
}
.brand{
    color: white;
    text-align: none;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    font-size: 28px;

}

.brand:hover{
    text-decoration: none;
    color:white;
}
.active{
    background-color: #E67E22;
    padding: 20px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 15px;

}
.active:hover{
    background-color: #E67E22;
    color: #229954;
    text-decoration: none;
}
.item{
    padding: 20px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 15px;

}
.item:hover{
    background-color: #E67E22;
    color: #229954;
    text-decoration: none;
}
.btn{
    background-color: #E67E22;
    border-color: #E67E22;
}
.btn:hover{
    background-color: #229954;
    border-color: #229954;
    color: #E67E22;
}
/*hero section*/
.hero{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/hero/1.jpg);
    background-attachment: scroll;
}
.card{
    margin-top: 100px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    
}
.card-title h2{
    font-weight: 900;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-left: 30px;
    font-size: 50px;
    letter-spacing: 2px;
}
.card-body h3{
    font-weight: 900;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-left: 18px;
    font-size: 50px;
    letter-spacing: 2px;
}
sup{
    vertical-align: super;
    font-size: large;
}
.amt{
    font-size: 70px;
    font-family: 'Lobster', cursive;
}
.btn-shop{
    background-color: #E67E22;
    padding: 10px 30px;
    border: 5px solid #E67E22;
    font-size: 15px;
    border-radius: 20px;
}
.btn-shop:hover{
    background-color: #229954;
    border-color: #229954;
    color: white;
}
.card-footer p{
    color: white;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
/*about*/
.about{
    background-color: #17202A ;
}
.section-header h2{
    color: #229954;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.left{
    margin-top: 30px;
}
.right{
    margin-top: 30px;
}
.right h3{
    text-align: center;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: white;
}
.right p{
    padding: 10px;
    font-size: 15px;
    color: white;
}
.head{
    color: #E67E22;
}