html{
    scroll-behavior: smooth;
}
body{
    background-color: #242424;
}

/*Navigation bar styles*/
.navbar{
    background-color: #192021;
    position: fixed;
    width: 100%;
    z-index: 900;
}
.brand{
    color: white;
    text-align: none;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    font-size: 28px;
}

.brand:hover{
    text-decoration: none;
    color:white;
}
.active{
    background-color: #E67E22;
    padding: 20px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 15px;
}
.active:hover{
    background-color: #E67E22;
    color: #229954;
    text-decoration: none;
}
.item{
    padding: 20px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 15px;
}
.item:hover{
    background-color: #E67E22;
    color: #229954;
    text-decoration: none;
}
.btn{
    background-color: #E67E22;
    border-color: #E67E22;
}
.btn:hover{
    background-color: #229954;
    border-color: #229954;
    color: #E67E22;
}
/*hero section*/
.hero{
    height: 100vh;
    width: 100%;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/hero/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    margin-top: 140px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    display: none;
}
.card-title h2{
    font-weight: 900;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-left: 30px;
    font-size: 50px;
    letter-spacing: 2px;
}
.card-body h3{
    font-weight: 900;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-left: 18px;
    font-size: 50px;
    letter-spacing: 2px;
}
sup{
    vertical-align: super;
    font-size: large;
}
.amt{
    font-size: 70px;
    font-family: 'Lobster', cursive;
}
.btn-shop{
    background-color: #E67E22;
    padding: 10px 30px;
    border: 5px solid #E67E22;
    font-size: 15px;
    border-radius: 20px;
}
.btn-shop:hover{
    background-color: #229954;
    border-color: #229954;
    color: white;
}
.card-footer p{
    color: white;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
#but{
    margin-top: 40px;
}

/*about*/
.about{
    background-color: #17202A ;
}
.section-header h2{
    color: #229954;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.left{
    margin-top: 30px;
}
.right{
    margin-top: 30px;
}
.right h3{
    text-align: center;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: white;
}
.right p{
    padding: 10px;
    font-size: 15px;
    color: white;
}
.head{
    color: #E67E22;
}
/*delicacy style*/
.delicacy{
    padding-bottom: 30px;
}
.hold{
    position: relative;
}
.image{
    width: 100%;
    display: block;
    height: auto;
    border: 5px solid white;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #229954;
}
.hold:hover .overlay{
    opacity: 1;
}
.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/*make order styles*/
.order{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/1.png);
}
#myorder{
    background-color: grey;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.orders{
    margin-top: 20px;
}
#results{
    display: ;
    margin-top: 20px;
}
#result{
    background-color: #E67E22;
    margin-bottom: 39px;
}
#finish{
    display: none;
}
#finishtwo{
    display: none;
}
.titles{
  margin-top: 20px;
}
.titles h3{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: green;
}
#cards{
  background-color: white;
  padding-bottom: 200px;
}
#nums{
    padding-bottom: 20px;
}
/*footer style*/
.footer{
    height: 60px;
}
.rights h2{
    color: #E67E22;
    text-align: center;
    padding: 10px;
    font-family: 'Caveat', cursive;
}
/*responsiveness*/
@media screen and (min-width:480px) and (max-width:767px){
    .brand{
        color: white;
        text-align: left;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Abel', sans-serif;
        text-decoration: none;
        font-size: 20px;
    }
    .nav-item{
        padding: 20px;
    }
    .hero{
        background-size: cover;
        background-attachment: fixed;
    }
    .image{
        margin: 15px;
    }
    .overlay{
        margin: 15px;
    }
}
/*scrolltop*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#E67E22;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
  }

  #myBtn:hover {
    background-color:#229954;
  }
  .contact{
    color: Black;
    text-decoration: none;
    font-size: 18px;
  }
